
  <mat-form-field class="search-bar">
    <input type="text" #search1 placeholder="Search news" aria-label="Number"
     matInput [formControl]="myControl" [matAutocomplete]="auto" 
     (keyup.enter)="search(search1.value)" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>

    </mat-autocomplete>
    <mat-icon matSuffix class="searchIcon">search</mat-icon>

  </mat-form-field>

