<h2>Your Posts: </h2>
<div class="grid-container">
<mat-grid-list cols="3" rowHeight="380px">
  <section *ngFor="let post of posts" >
    <mat-grid-tile>
      <app-post [post]="post"></app-post>
    </mat-grid-tile>
  </section>
</mat-grid-list>
</div>

<!-- <div class="grid-container">

  <mat-grid-list cols="3" rowHeight="380px">

      <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">

          <mat-card class="myPosts-card">

              <mat-card-header>

                <app-post [post]="post"></app-post>

              </mat-card-header>

              <mat-card-content class="post-card-content">

                  <div style="padding-top: 15px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
                      nisi sequi nam est veniam tempora saepe quia, perspiciatis laborum alias aut
                      consequuntur rem similique assumenda temporibus! Maiores unde libero quae.</div>

              </mat-card-content>

          </mat-card>

      </mat-grid-tile>

  </mat-grid-list>

</div> -->
