<h2>
  <mat-icon aria-hidden="false" aria-label="main menu" class="category-icon">
    person
  </mat-icon>
  For You
</h2>
<mat-divider></mat-divider>

<!-- breakpoint= {{breakpoint}} -->
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <p>Recommendations By Activities</p>
    </ng-template>

    <mat-grid-list #grid [cols]="breakpoint" (window:resize)="onResize($event)">
      <section *ngFor="let post of data">
        <mat-grid-tile>
          <app-post [post]="post"></app-post>
        </mat-grid-tile>
      </section>
    </mat-grid-list>
    <mat-paginator [length]="posts?.length" [pageSize]="size" [pageIndex]="page" (page)="getData($event)"
      style="color: #673ab7">
    </mat-paginator>
  </mat-tab>



  <mat-tab>
    <ng-template mat-tab-label>
      <p>Recommendations By Age Group</p>
    </ng-template>

    <mat-grid-list #grid1 [cols]="breakpoint" (window:resize)="onResize($event)">
      <section *ngFor="let post of dataAge">
        <mat-grid-tile>
          <app-post [post]="post"></app-post>
        </mat-grid-tile>
      </section>

    </mat-grid-list>
    <mat-paginator [length]="posts?.length" [pageSize]="size" [pageIndex]="page" (page)="getData($event)"
      style="color: #673ab7">
    </mat-paginator>
  </mat-tab>
</mat-tab-group>