<mat-card class="post">
   <mat-video #video [preload]="true" [autoplay]="true" [overlay]="true"
             color="primary" spinner="spin" src="{{post?.videoUrl}}">
  </mat-video>
  <br>
  <mat-card-title>{{post?.title}}</mat-card-title>
  <div class="info">
    <mat-card-subtitle style="display: flex; align-items: center">
      <mat-icon>accessibility_new</mat-icon>
      {{post?.postedBy}}
    </mat-card-subtitle>
    <mat-card-subtitle style="display: flex; align-items: center">
      <mat-icon>remove_red_eye</mat-icon>  {{views}} |
      <mat-icon>access_time</mat-icon> {{post?.timestamp | date:'mediumDate'}} |
      <mat-icon>category</mat-icon>{{post?.category}} |
      <mat-icon>my_location</mat-icon>{{post?.location}}
    </mat-card-subtitle>
  </div>
  <mat-card-actions style="display: flex; align-items: center">
      <mat-icon (click)="like()" class="icon-disabled" [ngClass]="{'icon-enabled': getIsLiked()}">thumb_up</mat-icon>
      {{likes}}
      <mat-icon (click)="flag()" class="icon-disabled" [ngClass]="{'icon-enabled': getIsFlagged()}">flag</mat-icon>
      {{flags}}
    <div *ngIf="isOwner">
      <button mat-icon-button (click)="edit()">Edit</button>
      <button mat-icon-button (click)="delete()">Delete</button>
    </div>
    <div *ngIf="user?.isSub">
      <button mat-icon-button (click)="download(post?.videoUrl)" color="primary">Download</button>
    </div>
  </mat-card-actions>
</mat-card>
