<div class="privacy-container">
<div class="privacy">
<h1 class="h1">Privacy policy</h1>
<h3 class="h3">When you use our services, you’re trusting us with your information. We understand this is a big responsibility and
    work hard to protect your information and put you in control.

    This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can
    update, manage, export, and delete your information.
</h3>

<p>
    This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can
    update, manage, export, and delete your information.
</p>
</div>

<div class="goBack">
        <button mat-raised-button color="primary"  routerLink="/trending">back to trending</button>
        
        </div>
</div>