<section>
  <mat-form-field>
    <mat-label>Reason</mat-label>

    <select matNativeControl required>
      <option>Harrasment</option>
      <option>Suicide or self-injury</option>
      <option>Hate Speech</option>
      <option>Terrorism</option>
      <option>Spam</option>
      <option>False news</option>
      <option>Private video</option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Flag</button>
  </div>
</section>