<h2>
  <mat-icon aria-hidden="false" aria-label="main menu" class="button-icon">movie_creation</mat-icon>
  Your Posts ({{posts.length}}):
</h2>
<mat-divider></mat-divider>
<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.md="row wrap" fxLayout.sm="row wrap">
    <section *ngFor="let post of posts"  fxFlex="30%"
        fxFlex.md="33%" fxFlex.sm="50%" fxLayoutAlign="space-between" [fxFlex.gt-sm]=30>
        <app-post [post]="post"></app-post>
    </section>
</div> -->
<span>Breakpoint: {{breakpoint}}</span>

<mat-grid-list #grid [cols]="breakpoint" (window:resize)="onResize($event)" >
  <section *ngFor="let post of posts">
    <mat-grid-tile>
      <app-post [post]="post"></app-post>
    </mat-grid-tile>
  </section>
</mat-grid-list>
