/* top-navbar */
.top-navbar {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1000;
  align-content: center;
  justify-content: space-between;
}
.icon-button {
  margin: auto 10px;
  transform: scale(1.6);
}
.search-bar {
  position: relative;
  top:10px;
}
#signin-button {
  padding: 5px 0;
  font-size: 15px;
}

/* side-navbar */
.side-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
}
.navbar-button {
  width: 220px;
  text-align: start;
  font-size: 15px;
  padding: 5px 0;
  margin: 0;
}
.button-icon {
  padding: 0 10px 0 15px;
  font-size: 20px;
}

/* main-content */
.main-content {
  margin-top: 70px !important;
  padding: 0px 20px;
}
.placeholder {
  color: white;
}
.searchIcon {
  position: relative;
  top:5px;
}
