/* top-navbar */
.top-navbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  height: auto;
  z-index: 1000;
  align-content: center;
  justify-content: space-between;
}
.icon-button {
  margin: auto 10px;
  transform: scale(2);
}
.search-bar {
  /* margin: 1px 15px 6px 15px;
  height: 80px;
  width: 60%; */
  position: relative;
  top:10px;
}
#signin-button {
  padding: 5px 0;
  font-size: 15px;
}

/* side-navbar */
.side-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}
.navbar-button {
  width: 100%;
  text-align: start;
  font-size: 15px;
  padding: 5px 0;
  margin: 0;
}
.button-icon {
  padding: 0 10px 0 15px;
  font-size: 20px;
}

/* main-content */
.main-content {
  padding: 0px 20px;
}
.placeholder {
  color: white;
}

.searchIcon
{
  position: relative;
  top:10px;
}