<mat-toolbar color="primary">
  <h3>Please Register and Pay</h3>
</mat-toolbar>
<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="100px">
  <!-- <mat-grid-list cols = 2 rowHeight = "200px"> -->
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input #name matInput placeholder="John Doe">
        <mat-hint>Enter your name</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input #password matInput placeholder="QddfEEqq@123" type="password">
        <mat-hint>Enter your password</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label #TIN>TIN number</mat-label>
        <input matInput placeholder="Tax payer identification">
        <mat-hint>Enter your taxpayer id no.</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Card Number</mat-label>
        <input #num matInput placeholder="1111111111111111">
        <mat-hint>Enter a valid 16 digit card number</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Card Expiration</mat-label>
        <input #exp matInput placeholder="99/99">
        <mat-hint>Enter the expiration date</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>CVV</mat-label>
        <input #cvv matInput placeholder="xxx">
        <mat-hint>Enter the 3 digits on back of cards</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Postal Code</mat-label>
        <input matInput placeholder="000000">
        <mat-hint>Enter your postal code</mat-hint>
      </mat-form-field>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>

    <button mat-raised-button type="submit"
      (click)="chargeCreditCard(name.value,password.value,num.value,exp.value,cvv.value)" color="primary">Pay
      100 $</button>
  </mat-grid-tile>
</mat-grid-list>