<mat-card class="viewProfile">
    <mat-card-title class="title" style="color: #673ab7">Your registration details</mat-card-title>
</mat-card>
<mat-card>
    <mat-card-title class="title">Hello there, {{userData.username}}!</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content class="title">
        Your Email Address : <i>{{userData.email}}</i>
        <br>
        Full Name : <i>{{userData.name}}</i>
        <mat-divider></mat-divider>
        <div>
            <h3>Categories that suit your taste:</h3>
            <!-- <mat-grid-list cols="2" rowHeight="300px">
                <mat-grid-tile *ngFor="let interests of userData.newsPreferences">
                    <mat-card>

                        <mat-card-header>
                            <h3>{{interests}}</h3>
                        </mat-card-header>

                        <mat-card-content>
                            <img src="../../assets/{{interests}}.jpg" alt="interests" class="image">
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list> -->

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.md="row wrap" fxLayout.sm="row wrap" fxLayoutAlign="space-between">
                <section *ngFor="let interests of userData.newsPreferences" fxFlex="30%" 
                fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="80%">
                        <mat-card class="card">
                                <button mat-button class="button" [routerLink]="['/category', interests]">

                            <mat-card-header class="card">
                                <h3>{{interests}}</h3>
                            </mat-card-header>

                            <mat-card-content class="card">
                                <img src="../../assets/{{interests}}.jpg" alt="interests" class="image">
                            </mat-card-content>
                        </button>
                        </mat-card>
                    

                </section>
            </div>
        </div>
    </mat-card-content>
    <!-- <mat-grid-list></mat-grid-list> -->


</mat-card>