<mat-toolbar color = "primary">
    <h3>Your Profile Details</h3>
</mat-toolbar>
<mat-card>
<mat-card-title>Hi {{userData.username}}!</mat-card-title>
<mat-divider></mat-divider>
<br>
<mat-card-content><div><h4>Your Email Address : {{userData.email}}</h4></div>
<div>
    <h4>Full Name : {{userData.name}}</h4>
</div>
<div>
    <h3>Your Preferences</h3>
    <mat-grid-list cols = "2" rowHeight = "300px">
        <mat-grid-tile *ngFor="let interests of userData.newsPreferences">
            <mat-card>
    
        <mat-card-header><h3>{{interests}}</h3></mat-card-header>
        
        <mat-card-content>
         <img src="../../assets/{{interests}}.jpg" alt="interests" class = "image">
        </mat-card-content>
         </mat-card>
        
    
    </mat-grid-tile>
    </mat-grid-list>
</div>
</mat-card-content>
<!-- <mat-grid-list></mat-grid-list> -->


</mat-card>
