<mat-card class="tc"><h1 class="Heading">Terms and Conditions</h1>
<p class="desc"><i class="just">By using the NewsZoid Service you agree to be bound by the terms mentioned below.
    If you disagree with any or all parts of the terms then you may not use the service.</i>
</p>
<ol>
<li class="list"><h3>Download</h3>
<p class="just">If you wish to download any video made available through the NewsZoid Service,
    you may be asked to supply certain information relevant to your payment options
    (whichever you choose).
</p></li>
<li class="list"><h3>Subscriptions</h3>
    <p class="just">Some parts of the NewsZoid Service are billed on a subscription basis.
        You will be billed in advance on a recurring basis. You also have the option to cancel it any time.
    </p></li>

<li class="list"><h3>Content</h3>
    <p class="just">Our Service allows you to like, share, report the videos uploaded on our website.
        You will ne solely responsible for reporting and the respective video(s) may or may not be taken down depending on
        the number of reports we get for a video.
    </p></li>

<li class="list"><h3>Changes</h3>
    <p class="just">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material
        we will try to provide at least 15 days' notice prior to any new terms taking effect. What constitutes a material
        change will be determined at our sole discretion.
    </p></li>

<li class="list"><h3>Contact Us</h3>
    <p class="just">If you have any questions about these Terms, please contact us at <a href="#">our contact details</a> .
    </p></li>

</ol>

<div class="goBack">
        <button mat-raised-button color="primary"  routerLink="/trending">back to trending</button>
        
        </div>
</mat-card>

