<h2>
  <mat-icon aria-hidden="false" aria-label="main menu" class="category-icon" style="padding-right: 10px">
    {{category.icon}}
  </mat-icon>

  <span matBadge={{posts?.length}} matBadgeOverlap="false" matBadgePosition="above after">{{category.name}}</span>
</h2>

<mat-divider></mat-divider>



<mat-grid-list #grid [cols]="breakpoint" (window:resize)="onResize($event)">
  <section *ngFor="let post of data">
    <mat-grid-tile>
      <app-post [post]="post"></app-post>
    </mat-grid-tile>
  </section>
</mat-grid-list>

<mat-paginator [length]="posts?.length" [pageSize]="size" [pageIndex]="page" (page)="getData($event)"
style="color: #673ab7">
</mat-paginator>