
<!-- <mat-form-field class="search-bar">
    <input #search1 matInput appearance="outline" (keyup.enter)="search(search1.value)" >
    <mat-placeholder class="placeholder">Search</mat-placeholder>
      <mat-icon matSuffix class="searchIcon">search</mat-icon>
  </mat-form-field> -->
  
  <mat-form-field class="search-bar">
    <input type="text" #search1 placeholder="Search" aria-label="Number"
     matInput [formControl]="myControl" [matAutocomplete]="auto" 
     (keyup.enter)="search(search1.value)" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>

    </mat-autocomplete>
    <mat-icon matSuffix class="searchIcon">search</mat-icon>

  </mat-form-field>