<mat-toolbar color="primary" style="bottom:0;">
    <button mat-icon-button class="icon-button" routerLink="/trending">
        <mat-icon aria-hidden="false" aria-label="logo" svgIcon="logo"></mat-icon>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <i class="fa fa-facebook" aria-hidden="true" style="padding-right: 5px"></i>
    <i class="fa fa-instagram" aria-hidden="true" style="padding-right: 5px"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true" style="padding-right: 5px"></i>
    <i class="fa fa-google-plus" aria-hidden="true" style="padding-right: 5px"></i>
</mat-toolbar>