.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .icon-button {
    
    transform: scale(1.6);
  }
  .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    
}
.footer{
margin-bottom: 0px;
position : fixed;
}