.example-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 520px) {
  .example-container{
    width: 100%;


  }
}
.example-container > * {
  width: 100%;
}

.card1{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 520px) {
  .card1{  width: 100%;

  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}
