<div class = "dashboard">
    <mat-grid-list cols = "2" rowHeight = "505px">
            <mat-grid-tile colspan = "1" rowspan = "1">
                    <mat-card-header class="cardheader">
                        <mat-card class = "card">
                            <h3>Activity Log</h3>
                            <p>Videos Viewed : <a href = "www.ndtv.com"></a></p>
                            <p>Videos Posted : <a href="google.com"></a></p>
                            <p>Interests :</p> 
                            <ul *ngFor = "let interests of taskTypeAreas">
                                <li>
                                    {{interests.name}}
                                </li>
                            </ul>
                            
                        </mat-card>
                        
                    </mat-card-header>
                    </mat-grid-tile>
    <mat-grid-tile colspan = "1" rowspan = "1" class = "tile2" rowHeight = "500px" md-row-height = "">
    
    <mat-card-header class = "cardheader">
            <mat-card class = "card">
    
<h3>Upload Videos<a href = "#"><i class="material-icons" id = "icons">
        cloud_upload
        </i></a></h3>




</mat-card>
</mat-card-header>
    </mat-grid-tile>
    


</mat-grid-list>
</div>